.single-word:hover{
    background-color: #00FF00;
    color: #000;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header h1{
    flex: 7;
    text-align: left;
    margin-left: 50px;
}

.header h2{
    text-align: right;
    flex: 3;
    margin-right: 30px;
}

.game-console{
    width: 70%;
    min-height: 700px;
    margin: 50px auto;
    border: 1px solid #00FF00;
    box-sizing: border-box;
    display: flex;
    font-size: 21px;
}

.screen-display{
    width: 70%;
    min-height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #00FF00;
}

.hints-display{
    width: 30%;
    min-height: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 15px;
}